language: julia
sudo: required
dist: trusty

os:
    - linux

arch:
    - amd64
#FIXME#    - arm64

services:
    - neo4j

julia:
    - 1.0
#FIXME#    - 1.2
#FIXME#    - 1.3
#FIXME#    - nightly

env:
    - IIF_TEST=false

#FIXME#jobs:
#FIXME#  include:
#FIXME#    - julia: 1.2
#FIXME#      env: IIF_TEST=true
#FIXME#      if: NOT branch =~ ^release.*$
#FIXME#    - stage: "Documentation"
#FIXME#      julia: 1.2
#FIXME#      os: linux
#FIXME#      script:
#FIXME#        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
#FIXME#        - julia --project=docs/ docs/make.jl
#FIXME#      after_success: skip
#FIXME#  fast_finish: true

notifications:
    email: false

matrix:
  allow_failures:
  - julia: nightly
  - arch: arm64
# - env: IIF_TEST=true

# Set the password for Neo4j to neo4j:test
before_script:
    - sleep 10
    - curl -v POST http://neo4j:neo4j@localhost:7474/user/neo4j/password -d"password=test"

after_success:
    - julia -e 'using Pkg; cd(Pkg.dir("DistributedFactorGraphs")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder()))'
