language: julia
sudo: required

os:
    - linux

arch:
    - amd64

services:
    - neo4j

julia:
    - 1.5
    - nightly

env:
    - IIF_TEST=false

branches:
  only:
  - master
  - develop
  - /^release.*$/
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

jobs:
  include:
    - julia: 1.4
      env:
        - IIF_TEST=true
      if: NOT branch =~ ^release.*$
    - arch: arm64
      env: SKIP_CGDFG_TESTS=true
      before_script:
    - stage: "Documentation"
      julia: 1.4
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
  fast_finish: true
  allow_failures:
      - julia: nightly
      - arch: arm64

notifications:
    email: false

# Attempt to install neo4j on Xenial and set the password for Neo4j to neo4j:test
before_script:
  - sudo add-apt-repository -y ppa:openjdk-r/ppa
  - sudo apt-get update
  - wget -O - https://debian.neo4j.com/neotechnology.gpg.key | sudo apt-key add -
  - echo 'deb https://debian.neo4j.com stable 3.5' | sudo tee /etc/apt/sources.list.d/neo4j.list
  - sudo apt-get update
  - apt list -a neo4j
  - sudo apt-get install neo4j
  - sudo service neo4j start
  - sleep 10
  - curl -v POST http://neo4j:neo4j@localhost:7474/user/neo4j/password -d"password=test"
# - sudo neo4j-admin set-initial-password test
  - curl -I http://localhost:7474/

after_success:
    - julia -e 'using Pkg; cd(Pkg.dir("DistributedFactorGraphs")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
